h1{

}
h2{

}
img{
    width: 125pt;
    height: 125pt;
    border-radius: 50%;
}
.links{
    margin-right: 50%;
}
.photos{
    margin-left: 50%;
    margin-top: -75pt;
}
body{
    max-width: 400pt;
    margin-left: auto;
    margin-right: auto;
}